{% extends 'tienda/base.html' %}

{% block contenido %}
<h3>Acerca de mí:</h3>
<p>¡Hola! Bienvenido a mi perfil.
    Mi nombre es Julián Romero. Tengo 28 años y el curso de Python es el primer curso que realizo en CoderHouse. 
    Soy musico y compositor nacido en la ciudad de Santa Fe. 
    Tengo una banda llamada "Por Acá Si" donde soy el cantante, compositor y productor.
    Para realizar este proyecto utilicé un formato mas comercial para poder reutilizarla en el futuro. 
    
</p>
{% endblock %}

