{% extends 'tienda/base.html' %}

{% block contenido %}
<h3 style="text-align: center; font-size: 2em; margin-bottom: 20px;">¡Bienvenido a nuestra tienda de instrumentos musicales!</h3>

<div style="text-align: center; font-size: 1.2em; color: #5e3370;">
    <p>Explorá nuestra variedad de instrumentos musicales de cuerda, viento, percusión y más.</p>
    <p>Hacé clic en <strong>Iniciar Sesión</strong> para ingresar y ver nuestro catálogo.</p>
    <p>¿Sos nuevo por acá? ¡Apretá en el botón <strong>Registrarse</strong> para crearte una cuenta y tener acceso a nuestra información!</p>
</div>

<div style="text-align: center; margin-top: 40px;">
    <i class="fas fa-guitar" style="font-size: 60px; color: #8e44ad;"></i>
</div>
{% endblock %}